@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
.container-snap::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

}

#container {
	position: relative;
	padding-left: 10%;
	padding-top: 75px;
  }
#myCanvas {
	position: relative;
	/* display: flex; */
	/* width: 100%;
	size: 100%; */
}

  /* #container canvas {
	position: relative;
  } */
  /* #overlay {
	position: absolute;
	width: 30%;
	height: 100%;
	z-index: 2;
	background: rgba(0,0,0, 0.6);
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 1;
	left: 35%;
  } */